*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.ike{
    margin-top: 12%;
}
.aham{
    position: relative;
    color: white;
    z-index: 1;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-stretch: extra-expanded;
    font-size: 350%;
}
.his{
    position: relative;
    color: white;
    text-align: center;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

   
}
nav{
    background-color: rgb(6, 6, 53);
    /* height: 10px; */
}
.navbar-expand-lg{
    position: sticky;
    top: 0;
    z-index: 7;
}
.nav-link{
    font-weight: bolder;
    color: white;
  
}
.nav-link:hover{
  background-color: brown;

}
.navbar-nav{
margin: auto;
align-content: space-around;
}
/* .abt{ */
    /* width: 150%; */
/* } */
.firstbtn{
    margin-top: 50px;
}
.secondbtn{
    margin-top: 30px;
}
.thirdbtn{
    margin-top: 30px;
}

  #close{
      display: none;
  }
  #hamburger{
    display: none;
}
.events{
    background-color:  rgb(6, 6, 53);
    
}
.drdiv{
    background-color: rgb(75, 69, 69);
}
.lastdiv{
    background-color: rgb(6, 6, 53);
    /* margin-top: 40px; */
}

@media screen and (max-width: 575px) {
    body{
    text-align: center;
    
    }
    .lastdiv{
        margin-top: -13px;
    }
    .forrecent{
       padding-bottom: 3%;
    }
    .reader{
        margin-bottom: 3%;
    }
    .contacting{
        margin-top: 20%;
    }
    .man{
        margin-top: 6%;
    }
}

@media screen and (max-width: 992px) {
    #close{
      display: block;
      margin-right: 10%;
    }
    #hamburger{
        display: block;
        margin-right: 10%;
    }
  }
